body {
    font-family: 'Arial', sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1a1a1a; /* Dark background */
    color: #f8fffd; /* Light text color */
}

h1, h2 {
    color: #099df9; /* Vibrant blue heading color */
    border-bottom: 2px solid #099df9;
    padding-bottom: 8px;
}

p {
    line-height: 1.7;
}

a {
    color: #ffbb60; /* Link color */
    text-decoration: none; /* Remove underlines from links */
}

a:visited {
    color: #a42b38; /* Visited link color */
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 20px;
}

img {
    max-width: 100%; /* Ensure the image does not exceed the container width */
    height: auto; /* Maintain the image's aspect ratio */
    display: block; /* Remove default inline spacing */
    margin-bottom: 20px; /* Add some spacing below the image */
}

.header {
    background: linear-gradient(217deg, #d55467, #099df9, #f8c069); /* Header background color */
    text-align: center; /* Center the content within the header */
    padding: 10px 0; /* Add padding for visual separation */
}

.logo {
    max-width: 150px; /* Set the maximum width */
    max-height: 100px; /* Set the maximum height */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}