body {
    font-family: 'Arial', sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1a1a1a; /* Dark background */
    color: #f8fffd; /* Light text color */
}

h1, h2 {
    color: #099df9; /* Vibrant blue heading color */
    border-bottom: 2px solid #099df9;
    padding-bottom: 8px;
}

p {
    line-height: 1.7;
}

a {
    color: #ffbb60;
    text-decoration: none;
}

a:visited {
    color: #a42b38;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

/* Search Form Styles */
#searchForm {
    margin-top: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #099df9; /* Blue color for the label */
}

input[type="text"] {
    width: 60%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #099df9; /* Blue border for the input */
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 8px 15px;
    background-color: #099df9; /* Blue background for the button */
    color: #fff; /* White text color for the button */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0c7bbf; /* Darker blue on hover */
}

.loading-indicator {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin: 20px auto; /* Adjust margin as needed */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#suggestionContainer {
    display: none;
}

/* End of Search Form Styles */

.header {
    background: linear-gradient(217deg, #d55467, #099df9, #f8c069);
    text-align: center;
    padding: 10px 0;
}

.logo {
    max-width: 150px;
    max-height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.leaflet-container {
    background-color: #1a1a1a;
}